@using TvShows.Web.Controllers
@using TvShows.Web.Models.Member.Form
@model LoginFormModel

@using (Html.BeginUmbracoForm<LoginController>("Submit", FormMethod.Post))
{
    <div class="login-box">
        <h2>Login</h2>
        <div class="field">
            <p class="help is-danger">
                @Html.ValidationMessage("error")
            </p>
        </div>
        <div class="user-box">
            @Html.TextBoxFor(x => x.Email, new
                {
                    @class = "input is-half"
                })
            <p class="help is-danger">
                @Html.ValidationMessageFor(x => x.Email)
            </p>
            <label>Email</label>
        </div>
        <div class="user-box">
            @Html.PasswordFor(x => x.Password, new
                {
                    @class = "input is-half"
                })
            <p class="help is-danger">
                @Html.ValidationMessageFor(x => x.Password)
            </p>
            <label>Password</label>
        </div>
        <input type="submit" class="button-submit" value="Submit">
    </div>
}