@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	var root = Model.Root();
	var rootPage = root as HomePage;
	var signUp = Model.Root().Children().Where(x => x.ContentType.Alias == AuthenticationPage.ModelTypeAlias).First();
}
<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				<a href="index-2.html"><img class="logo" src="images/logo1.png" alt=""></a>
				<p>
					@rootPage.Address
				</p>
				<p>@rootPage.PhoneNumber</p>
			</div>
			<div class="flex-child-ft item2">
				@rootPage.ResourceFooter
			</div>
			<div class="flex-child-ft item3">
				@rootPage.LegalFooter
			</div>
			<div class="flex-child-ft item4">
				@rootPage.AccountFooter
			</div>
			<div class="flex-child-ft item5">
				@rootPage.Newsletter
				@* <form action="#">
					<input type="text" placeholder="Enter your email...">
				</form> *@
				<a href="@signUp.Url()" class="btn">@rootPage.SubscribeBtn <i class="ion-ios-arrow-forward"></i></a>
			</div>
		</div>
	</div>
	<div class="ft-copyright">
		<div class="ft-left">
			<p><a class="logo-tvshow" target="_blank" href="@root.Url()">@root.Value("siteName")</a></p>
		</div>
		<div class="backtotop">
			<p><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>